/* ================================
        START TABLE OF CONTENT
   ================================
    1.  RESET CSS
    2.  HEADER
    3.  MAIN SLIDER
    4.  WEDDING COUPLE
    5.  COUNT DOWN
    6.  TIMELINE
    7.  OUR LOVE
    8.  EVENTS
    9.  IMPORTANT PEOPLE
    10. GALLERY
    11. PARTY
    12. GETTING THERE
    13. REGISTRATION
    14. FOOTER
    15. PRE LOADER
   ================================= */


/* ================ 1. RESET CSS ================ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Dosis", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ============ 2.  HEADER ============= */

.header {}


/* ============ 3.  MAIN SLIDER ============= */

.main-slider {
    padding-bottom: 3rem;
}

.main-slider__block1 {
    height: 100vh;
    background: url(../images/slider/slide-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-slider__block2 {
    height: 100vh;
    background: url(../images/slider/slide-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-slider__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
}

.main-slider__text .main-slider__text-title {
    font-family: "Great Vibes", cursive;
    font-size: 10rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding-bottom: 2rem;
}

.main-slider__text .main-slider__text-des {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 2.5rem;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline;
    padding: 1rem 0;
    letter-spacing: 2px;
}

.main-slider__block .main-slider__overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.3;
}

.main-slider__block .main-slider__circle {
    position: absolute;
    height: 30rem;
    width: 30rem;
    background-color: rgba(24, 170, 141, 0.541);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    z-index: 99;
}

.main-slider__block .main-slider__circle::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background-color: rgba(24, 170, 141, 0.301);
    border-radius: 50%;
    left: -5%;
    top: -5%;
    animation: circleSlider linear 1s infinite;
}

.main-slider__block .main-slider__circleText {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-slider__block .main-slider__circleText .main-slider__circleText-des {
    font-family: "Great Vibes", cursive;
    font-size: 3.5rem;
    color: #fff;
}

.main-slider__block .main-slider__circleText .main-slider__circleText-date {
    font-size: 2rem;
    color: #fff;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: block;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-carousel .owl-nav button.owl-prev {
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
    background: rgba(24, 170, 141, 0.301);
    color: white;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

.main-slider:hover .owl-carousel .owl-nav button.owl-prev {
    opacity: 1;
    left: 2rem;
}

.main-slider:hover .owl-nav button.owl-next {
    opacity: 1;
    right: 2rem;
}

.owl-carousel .owl-nav button.owl-next {
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
    background: rgba(24, 170, 141, 0.301);
    color: white;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

.owl-carousel .owl-nav button.owl-prev span {
    position: absolute;
    bottom: 0.5rem;
    left: 2.5rem;
}

.owl-carousel .owl-nav button.owl-next span {
    position: absolute;
    bottom: 0.5rem;
    left: 2.5rem;
}

@keyframes circleSlider {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(0.95, 0.95, 0.95);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}


/*==                              ==========Resposive=============*/

@media (max-width: 767px) {
    .main-slider__text .main-slider__text-title {
        font-size: 5rem;
    }
    .main-slider__text .main-slider__text-des {
        font-size: 1rem;
        padding-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-slider__text .main-slider__text-title {
        font-size: 5rem;
    }
    .main-slider__text .main-slider__text-des {
        font-size: 2rem;
        padding-top: 1rem;
    }
}

@media (min-width: 992px) {
    .main-slider__text .main-slider__text-title {
        font-size: 7rem;
    }
    .main-slider__text .main-slider__text-des {
        font-size: 2rem;
        padding-top: 1rem;
    }
}

.wedding-couple-section {}


/* ============ 5.  COUNT DO                          WN ============= */

.count-down-section {}


/* ============ 6.      TIMELINE ============= */

.timeline-section {}


/* ============ 7.  OUR             LOVE ============= */

.our-love-section {}


/* ============ 8.  EVENTS =====                   ======== */

.events-section {}


/* ============ 9.  IMPORTANT PE                          OPLE ============= */

.important-people-section {}


/* ============ 10. GALLERY      ============= */

.gallery-section {}

.gallery-section .gallery__title {
    text-align: center;
}

.gallery-section .gallery__title span i::before {
    margin-left: 0;
    font-size: 5rem;
    border-bottom: 1px solid #9ec2bb;
    color: #9ec2bb;
}

.gallery-section .gallery__title h1 {
    font-size: 4.6rem;
    color: #848383;
    width: max-content;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto 0 auto;
    font-weight: 500;
    background-color: #eff5f3;
}

.gallery-section .gallery__list {
    display: flex;
    color: #3e3e3e;
    font-size: 1.8rem;
}

.gallery-section .gallery__list li {
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}


/* ============ 5.  COUN  T DOWN ============= */

.count-down-section {
    position: relative;
    padding: 10rem 0;
    background-image: url("../im                 ages/common/countdown-bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.count-down-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.count-down-section .count-down__text {}

.count-down-section .count-down__text .count-down__title {
    font-family: "Great Vibes", cursive;
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 7.9rem;
    color: white;
    white-space: nowrap;
}

.count-down-section .count-down__text .count-down__title span {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.3rem;
    color: white;
    display: block;
    margin-bottom: 1rem;
}

.count-down-section .count-down__box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #d8d7d6;
    border-radius: 5px;
    width: 100%;
    padding: 1.5rem;
    background-color: #ebebe9;
    margin-top: 2rem;
}

.count-down-section .count-down__box .count-down__item {
    color: #5e9a8e;
    text-align: center;
    text-transform: uppercase;
}

.count-down-section .count-down__box .count-down__item div {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
}

.count-down-section .count-down__box .count-down__item span {
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 400;
}


/* ============ 6.  TIMELINE ============= */

.tim eline-section {
    padding: 10rem 0;
}

.timeline-section .timeline__title {
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}

.timeline-section .timeline__title .title__decor {
    position: absolute;
    left: 50%;
}

.timeline-section .timeline__title .title__decor::before {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 5.5rem;
    height: 2px;
    top: 2.9rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-section .timeline__title .title__decor::after {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 2px;
    height: 3rem;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-section .timeline__title .title__decor i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.6rem;
}

.timeline-section .timeline__title .title__decor i::before {
    margin: 0;
    font-size: 7rem;
    color: #5e9a8e;
    opacity: 0.6;
}

.timeline-section .timeline__title .title__text {
    font-family: "Great Vibes";
    font-size: 4.6rem;
    font-weight: 500;
    color: #848383;
    display: inline-block;
    padding: 1rem 2.5rem 0.5rem;
    background-color: #eef5f3;
    border-top: 2px solid #dfece8;
    border-bottom: 2px solid #dfece8;
    margin-top: 6rem;
    letter-spacing: 3px;
}

.timeline-section .timeline__block {
    position: relative;
}

.timeline-section .timeline__block::before {
    content: "";
    position: absolute;
    background: rgba(94, 154, 142, 0.1);
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}

.timeline-section .timeline__block .block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    margin-right: -15px;
    margin-left: -15px;
}

.timeline-section .timeline__block .block__items .block__text {}

.timeline-section .timeline__block .block__items .block__image {
    position: relative;
}

.timeline-section .timeline__block .block__items .block__text i {
    position: absolute;
    right: -2.2rem;
    top: -2rem;
    font-size: 1.8rem;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #9cc2bb;
    border: 2px solid rgba(94, 154, 142, 0.5);
}

.timeline-section .timeline__block .block__items .block__image i {
    position: absolute;
    right: -3.7rem;
    top: -2rem;
    font-size: 1.8rem;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #9cc2bb;
    border: 2px solid rgba(94, 154, 142, 0.5);
}

.timeline-section .timeline__block .block__items .block__text .text__title {
    color: #5e9a8e;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.4rem;
    font-family: "Dosis";
    text-transform: uppercase;
}

.timeline-section .timeline__block .block__items .block__text .text__time {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: #333333;
    font-family: "Dosis";
    margin: 1.1rem 0 1.5rem 0;
}

.timeline-section .timeline__block .block__items .block__text .text__content {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #767878;
    font-family: "Dosis";
}

.timeline-section .timeline__block .block__items .text-align-right {
    text-align: right;
}


/* ============ 4.  WEDDING COUPLE ============= */

.wedding-couple-section {}


/* ============ 5.  COUNT DOWN ============= */

.timeline-section .timeline__block .block__items .text-align-left {
    text-align: left;
}

.has-border-top {
    border-top: 1px solid rgba(94, 154, 142, 0.1);
    padding-top: 4.5rem !important;
}

.timeline-section .timeline__block .block__items .item-left {
    padding: 0 4.5rem 0 10rem;
}

.timeline-section .timeline__block .block__items .item-right {
    padding: 0 10rem 0 4.5rem;
}

@media (max-width: 1023px) {
    .timeline-section {
        padding: 8rem 0;
    }
    .timeline-section .timeline__block::before,
    .timeline-section .timeline__block .block__items .block__text i,
    .timeline-section .timeline__block .block__items .block__image i {
        display: none;
    }
    .timeline-section .timeline__block .block__items .text-align-right {
        text-align: left;
    }
    .timeline-section .timeline__block .block__items .item-left {
        padding: 0;
    }
    .timeline-section .timeline__block .block__items .item-right {
        padding: 0;
    }
    .has-border-top {
        border: none;
        padding: 0;
    }
    .timeline-section .timeline__block .block__items .block__text {
        padding: 3.5rem 2.5rem;
        background: rgba(94, 154, 142, 0.05);
    }
    .timeline-section .timeline__title .title__text {
        font-size: 3.5rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__title {
        font-size: 2rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__content {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.9rem;
    }
}

@media (max-width: 767px) {
    .timeline-section .timeline__title .title__text {
        font-size: 3rem;
        padding: 1rem 0.5rem 0.5rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__title {
        font-size: 1.8rem;
    }
}


/* ============ 7.  OUR LOVE ============= */

.our-love-section {}


/* ============ 8.  EVENTS ============= */

.events-section {}

.gallery-section .gallery__list .gallery-active {
    color: #5e9a8e;
}

.gallery-section .gallery {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.gallery-section .gallery::after {
    content: "";
    display: block;
    clear: both;
}

.gallery-section .gallery .gallery__img {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% / 3);
    overflow: hidden;
}

.gallery-section .gallery .gallery__img img {
    max-width: 100%;
    display: block;
}

.gallery-section .gallery__title {
    text-align: center;
}

.gallery-section .gallery__title span i::before {
    margin-left: 0;
    font-size: 5rem;
    border-bottom: 1px solid #9ec2bb;
    color: #9ec2bb;
}

.gallery-section .gallery__title h1 {
    font-size: 4.6rem;
    color: #848383;
    width: max-content;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto 0 auto;
    font-weight: 500;
    background-color: #eff5f3;
}

.gallery-section .gallery__list {
    display: flex;
    color: #3e3e3e;
    font-size: 1.8rem;
}

.gallery-section .gallery__list li {
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}


/* ============ 5.  COUNT DOWN ============= */

.count-down-section {}


/* ============ 6.  TIMELINE ============= */

.timeline-section {
    padding: 10rem 0;
}

.timeline-section .timeline__title {
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}

.timeline-section .timeline__title .title__decor {
    position: absolute;
    left: 50%;
}

.timeline-section .timeline__title .title__decor::before {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 5.5rem;
    height: 2px;
    top: 2.9rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-section .timeline__title .title__decor::after {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 2px;
    height: 3rem;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-section .timeline__title .title__decor i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.6rem;
}

.timeline-section .timeline__title .title__decor i::before {
    margin: 0;
    font-size: 7rem;
    color: #5e9a8e;
    opacity: 0.6;
}

.timeline-section .timeline__title .title__text {
    font-family: "Great Vibes";
    font-size: 4.6rem;
    font-weight: 500;
    color: #848383;
    display: inline-block;
    padding: 1rem 2.5rem 0.5rem;
    background-color: #eef5f3;
    border-top: 2px solid #dfece8;
    border-bottom: 2px solid #dfece8;
    margin-top: 6rem;
    letter-spacing: 3px;
}

.timeline-section .timeline__block {
    position: relative;
}

.timeline-section .timeline__block::before {
    content: "";
    position: absolute;
    background: rgba(94, 154, 142, 0.1);
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}

.timeline-section .timeline__block .block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    margin-right: -15px;
    margin-left: -15px;
}

.timeline-section .timeline__block .block__items .block__text {}

.timeline-section .timeline__block .block__items .block__image {
    position: relative;
}

.timeline-section .timeline__block .block__items .block__text i {
    position: absolute;
    right: -2.2rem;
    top: -2rem;
    font-size: 1.8rem;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #9cc2bb;
    border: 2px solid rgba(94, 154, 142, 0.5);
}

.timeline-section .timeline__block .block__items .block__image i {
    position: absolute;
    right: -3.7rem;
    top: -2rem;
    font-size: 1.8rem;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #9cc2bb;
    border: 2px solid rgba(94, 154, 142, 0.5);
}

.timeline-section .timeline__block .block__items .block__text .text__title {
    color: #5e9a8e;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.4rem;
    font-family: "Dosis";
    text-transform: uppercase;
}

.timeline-section .timeline__block .block__items .block__text .text__time {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: #333333;
    font-family: "Dosis";
    margin: 1.1rem 0 1.5rem 0;
}

.timeline-section .timeline__block .block__items .block__text .text__content {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #767878;
    font-family: "Dosis";
}

.timeline-section .timeline__block .block__items .text-align-right {
    text-align: right;
}

.timeline-section .timeline__block .block__items .text-align-left {
    text-align: left;
}

.has-border-top {
    border-top: 1px solid rgba(94, 154, 142, 0.1);
    padding-top: 4.5rem !important;
}

.timeline-section .timeline__block .block__items .item-left {
    padding: 0 4.5rem 0 10rem;
}

.timeline-section .timeline__block .block__items .item-right {
    padding: 0 10rem 0 4.5rem;
}

@media (max-width: 1023px) {
    .timeline-section {
        padding: 8rem 0;
    }
    .timeline-section .timeline__block::before,
    .timeline-section .timeline__block .block__items .block__text i,
    .timeline-section .timeline__block .block__items .block__image i {
        display: none;
    }
    .timeline-section .timeline__block .block__items .text-align-right {
        text-align: left;
    }
    .timeline-section .timeline__block .block__items .item-left {
        padding: 0;
    }
    .timeline-section .timeline__block .block__items .item-right {
        padding: 0;
    }
    .has-border-top {
        border: none;
        padding: 0;
    }
    .timeline-section .timeline__block .block__items .block__text {
        padding: 3.5rem 2.5rem;
        background: rgba(94, 154, 142, 0.05);
    }
    .timeline-section .timeline__title .title__text {
        font-size: 3.5rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__title {
        font-size: 2rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__content {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.9rem;
    }
}

@media (max-width: 767px) {
    .timeline-section .timeline__title .title__text {
        font-size: 3rem;
        padding: 1rem 0.5rem 0.5rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__title {
        font-size: 1.8rem;
    }
}


/* ============ 7.  OUR LOVE ============= */

.our-love-section {}


/* ============ 8.  EVENTS ============= */

.events-section {}

.gallery-section .gallery__list .gallery-active {
    color: #5e9a8e;
}

.gallery-section .gallery {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.gallery-section .gallery::after {
    content: "";
    display: block;
    clear: both;
}

.gallery-section .gallery .gallery__img {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% / 3);
    overflow: hidden;
}

.gallery-section .gallery .gallery__img img {
    max-width: 100%;
    display: block;
}


/* ============ 11. PARTY ============= */

.party-section {}


/* ============ 12. GETTING THERE ============= */

.getting-there-section {}


/* ============ 13. REGISTRATION ============= */

.registration-section {
    padding: 4rem 0;
}

.registration-section .top_registration-section {
    text-align: center;
}

.registration-section .top_registration-section .icon_registration-section {}

.registration-section .top_registration-section .icon_registration-section i {
    color: #5e9a8e;
    font-size: 6rem;
    border-bottom: 2px solid gainsboro;
}

.registration-section .top_registration-section .line_registration-section {
    height: 5rem;
    width: 2px;
    background: rgba(94, 154, 142, 0.2);
    margin: 0 auto;
}

.registration-section .top_registration-section a {
    font-size: 4rem;
    border-top: 2px solid #5e9a8e;
    background: rgba(94, 154, 142, 0.2);
    padding: 1rem 2rem;
    display: inline-block;
    color: gray;
    border-bottom: 2px solid #5e9a8e;
}

.registration-section .title_registration-section p {
    text-align: center;
    font-size: 2.1rem;
    padding: 4rem 0;
}

.slider_logo {}

.slider_logo .block_slider__logo {
    padding: 0 4rem;
    border: 1px solid gray;
}

.btn_end__registration-section {
    margin: 8rem 0;
    text-align: center;
    cursor: pointer;
}

.btn_end__registration-section a i {}


/* ------------ REPONSIVE ---------------- */

@media (max-width: 991px) {
    .registration-section .title_registration-section p {
        font-size: 2rem;
    }
}


/* ============ 14. FOOTER ============= */

.footer {}


/* ============ 15. PRE LOADER ============= */

.preloader {}


/* ================ 1. RESET CSS ================ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Dosis", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ============ 2.  HEADER ============= */

.header {}

.header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.header .header__inner .header__logo {}

.header .header__inner .header__logo h1 a {
    font-size: 3rem;
    color: #5e9a8e;
}

.header .header__inner .header__logo h1 a i {}

.header .header__inner .header__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header .header__inner .header__menu .menu__list {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}

.header .header__inner .header__menu .menu__list .menu__item {}

.header .header__inner .header__menu .menu__list .menu__item .menu__link {
    color: #333;
    padding: 0 1rem;
}

.header .header__inner .header__menu .menu__list .menu__item .menu__link:hover {
    color: #5e9a8e;
}

.header .header__inner .header__menu .menu__list .menu__item .submenu__list .submenu__item .submenu__link {
    color: #333;
}

.menu__mobile,
.humburger,
.logoMb {
    display: none;
}


/* Submenu  */

.main-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    white-space: nowrap;
    top: calc(100% + 30px);
    right: 0;
    background: white;
    border-radius: 0.2rem;
    display: block;
    padding: 0px 50px 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 11;
}

.list__item:hover .submenu {
    padding: 10px 50px 10px 20px;
    max-height: 50vh;
}

.submenu .submenu__item {
    border-bottom: 0.1rem solid rgba(67, 68, 68, 0.1);
}

.submenu .submenu__link {
    display: block;
    color: #333;
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.submenu .submenu__link:hover {
    color: #279680;
}

@media (max-width: 767px) {
    .header .navigation .header__inner {
        display: none;
    }
    .menu__mobile,
    .humburger,
    .logoMb {
        display: block;
        z-index: 999;
    }
    .menu__mobile {
        position: absolute;
        top: 15%;
        width: 50%;
        right: 0%;
        background-color: whitesmoke;
        max-width: 0;
        overflow: hidden;
        transition: 0.5s;
        z-index: 999;
    }
    .humburger {
        position: absolute;
        font-size: 3rem;
        top: 3%;
        right: 2rem;
    }
    .humburger .humburger__btn {
        color: white;
        background-color: #279680;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
    }
    .logoMb {
        position: absolute;
        top: 3%;
        left: 2rem;
    }
    .logoMb h1 a {
        color: #279680;
        font-size: 3rem;
    }
    .menuMb__list {
        height: 100%;
    }
    .menuMb__list .list__itemMb {
        padding: 2rem;
        font-size: 3rem;
    }
    .menuMb__list .list__itemMb .list__itemMb__link {
        color: #333;
    }
    .menuMb__list .list__itemMb .list__itemMb__link:hover {
        color: #279680;
    }
    .menu__mobile--active {
        max-width: 30vw;
    }
    .menu__mobile .menu__list {}
    .menu__mobile .menu__list .menu__item {}
    .menu__mobile .menu__list .menu__item .menu__link {
        color: #333;
        font-size: 1.4rem;
        padding: 1rem;
        display: block;
        border-bottom: 0.2rem solid rgba(67, 68, 68, 0.1);
        font-weight: 600;
    }
    .menu__mobile .menu__list .menu__item .menu__link:hover {
        color: #279680;
    }
    .main-submenuMb {
        position: relative;
    }
    .submenuMb {
        position: absolute;
        white-space: nowrap;
        top: calc(100% + 30px);
        left: 0rem;
        background: white;
        border-radius: 0.2rem;
        display: block;
        padding: 0px 50px 0px 20px;
        overflow: hidden;
        transition: 1s ease;
        padding: 10px 50px 10px 20px;
        max-height: 0;
    }
    .submenuMb--active {
        position: relative;
        max-height: 50vh;
        background-color: whitesmoke;
        max-width: 100vw;
        overflow: hidden;
        transition: 0.5s;
        z-index: 99999;
        height: auto;
    }
    .submenuMb .submenu__item .submenu__link {
        display: block;
        color: #333;
        padding: 1rem 0;
        font-size: 1.4rem;
        font-weight: 500;
        border-bottom: 0.1rem solid rgba(67, 68, 68, 0.1);
    }
}


/* ============ 3.  MAIN SLIDER ============= */

.main-slider {}


/* ============ 4.  WEDDING COUPLE ============= */

.wedding-couple-section {}


/* ============ 5.  COUNT DOWN ============= */

.count-down-section {}


/* ============ 6.  TIMELINE ============= */

.timeline-section {}


/* ============ 7.  OUR LOVE ============= */

.our-love-section {}


/* ============ 8.  EVENTS ============= */

.events-section {}


/* ============ 9.  IMPORTANT PEOPLE ============= */

.important-people-section {}


/* ============ 10. GALLERY ============= */

.gallery-section {
    padding: 5rem 0;
}

.gallery-section .gallery__title {
    max-width: 100%;
    height: auto;
}


/* ============ 2.  HEADER ============= */

.header {}


/* ============ 3.  MAIN SLIDER ============= */

.main-slider {}


/* ============ 4.  WEDDING COUPLE ============= */

.wedding-couple-section {}


/* ============ 5.  COUNT DOWN ============= */

.count-down-section {}


/* ============ 6.  TIMELINE ============= */

.timeline-section {}


/* ============ 7.  OUR LOVE ============= */

.our-love-section {
    background: url(../images/ourlove/cta-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.our-love-section .our-love-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
}

.our-love-section .our-love-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-love-section .our-love-content .our-love-title {
    color: white;
    font-size: 4rem;
}

.our-love-section .our-love-content .our-love-text {
    color: white;
    font-size: 8rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
}


/* ============ 8.  EVENTS ============= */

.events-section {}


/* ============ 9.  IMPORTANT PEOPLE ============= */

.important-people-section {}


/* ============ 10. GALLERY ============= */

.gallery-section {}

.gallery-section .gallery__title {
    text-align: center;
    padding-bottom: 5rem;
}

.gallery-section .gallery__title span i::before {
    margin-left: 0;
    font-size: 5rem;
    border-bottom: 1px solid #9ec2bb;
    color: #9ec2bb;
}

.gallery-section .gallery__title h1 {
    font-size: 4.6rem;
    color: #848383;
    width: max-content;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto 0 auto;
    font-weight: 500;
    background-color: #eff5f3;
}

.gallery-section .gallery__list {
    display: flex;
    color: #3e3e3e;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

.gallery-section .gallery__list li {
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}

.gallery__item {
    /* Masonry bricks or child elements */
    position: absolute;
    width: calc(100% / 3);
    margin: 0;
    padding: 0 7.5px 15px;
}

.gallery_masonry {
    /* Masonry container */
    width: 100%;
}

.gallery_masonry .gallery__item img {
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -ms-filter: grayscale(60%);
    -o-filter: grayscale(60%);
    cursor: pointer;
    transition: 0.4s;
}

.gallery_masonry .gallery__item img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

@media (min-width: 992px) {
    .gallery_masonry {
        column-count: 3;
    }
}


/* Masonry on medium-sized screens */

@media (max-width: 991px) {
    .gallery__item {
        /* Masonry bricks or child elements */
        width: 50%;
    }
}

@media (max-width: 767px) {
    .gallery__item {
        /* Masonry bricks or child elements */
        width: 100%;
    }
}


/* Masonry on small screens */

@media (max-width: 575px) {
    .gallery_masonry {
        column-count: 1;
    }
}


/* ============ 5.  COUNT DOWN ============= */

.count-down-section {
    position: relative;
    padding: 10rem 0;
    background-image: url("../images/common/countdown-bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.count-down-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.count-down-section .count-down__text {}

.count-down-section .count-down__text .count-down__title {
    font-family: "Great Vibes", cursive;
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 7.9rem;
    color: white;
    white-space: nowrap;
}

.count-down-section .count-down__text .count-down__title span {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.3rem;
    color: white;
    display: block;
    margin-bottom: 1rem;
}

.count-down-section .count-down__box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #d8d7d6;
    border-radius: 5px;
    width: 100%;
    padding: 1.5rem;
    background-color: #ebebe9;
    margin-top: 2rem;
}

.count-down-section .count-down__box .count-down__item {
    color: #5e9a8e;
    text-align: center;
    text-transform: uppercase;
}

.count-down-section .count-down__box .count-down__item div {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
}

.count-down-section .count-down__box .count-down__item span {
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 400;
}


/* ============ 6.  TIMELINE ============= */

.timeline-section {
    padding: 10rem 0;
}

.timeline-section .timeline__title {
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}

.timeline-section .timeline__title .title__decor {
    position: absolute;
    left: 50%;
}

.timeline-section .timeline__title .title__decor::before {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 5.5rem;
    height: 2px;
    top: 2.9rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-section .timeline__title .title__decor::after {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 2px;
    height: 3rem;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-section .timeline__title .title__decor i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.6rem;
}

.timeline-section .timeline__title .title__decor i::before {
    margin: 0;
    font-size: 7rem;
    color: #5e9a8e;
    opacity: 0.6;
}

.timeline-section .timeline__title .title__text {
    font-family: "Great Vibes";
    font-size: 4.6rem;
    font-weight: 500;
    color: #848383;
    display: inline-block;
    padding: 1rem 2.5rem 0.5rem;
    background-color: #eef5f3;
    border-top: 2px solid #dfece8;
    border-bottom: 2px solid #dfece8;
    margin-top: 6rem;
    letter-spacing: 3px;
}

.timeline-section .timeline__block {
    position: relative;
}

.timeline-section .timeline__block::before {
    content: "";
    position: absolute;
    background: rgba(94, 154, 142, 0.1);
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}

.timeline-section .timeline__block .block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    margin-right: -15px;
    margin-left: -15px;
}

.timeline-section .timeline__block .block__items .block__text {}

.timeline-section .timeline__block .block__items .block__image {
    position: relative;
}

.timeline-section .timeline__block .block__items .block__text i {
    position: absolute;
    right: -2.2rem;
    top: -2rem;
    font-size: 1.8rem;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #9cc2bb;
    border: 2px solid rgba(94, 154, 142, 0.5);
}

.timeline-section .timeline__block .block__items .block__image i {
    position: absolute;
    right: -3.7rem;
    top: -2rem;
    font-size: 1.8rem;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-color: #9cc2bb;
    border: 2px solid rgba(94, 154, 142, 0.5);
}

.timeline-section .timeline__block .block__items .block__text .text__title {
    color: #5e9a8e;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.4rem;
    font-family: "Dosis";
    text-transform: uppercase;
}

.timeline-section .timeline__block .block__items .block__text .text__time {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: #333333;
    font-family: "Dosis";
    margin: 1.1rem 0 1.5rem 0;
}

.timeline-section .timeline__block .block__items .block__text .text__content {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #767878;
    font-family: "Dosis";
}

.timeline-section .timeline__block .block__items .text-align-right {
    text-align: right;
}

.timeline-section .timeline__block .block__items .text-align-left {
    text-align: left;
}

.has-border-top {
    border-top: 1px solid rgba(94, 154, 142, 0.1);
    padding-top: 4.5rem !important;
}

.timeline-section .timeline__block .block__items .item-left {
    padding: 0 4.5rem 0 10rem;
}

.timeline-section .timeline__block .block__items .item-right {
    padding: 0 10rem 0 4.5rem;
}

@media (max-width: 1023px) {
    .timeline-section {
        padding: 8rem 0;
    }
    .timeline-section .timeline__block::before,
    .timeline-section .timeline__block .block__items .block__text i,
    .timeline-section .timeline__block .block__items .block__image i {
        display: none;
    }
    .timeline-section .timeline__block .block__items .text-align-right {
        text-align: left;
    }
    .timeline-section .timeline__block .block__items .item-left {
        padding: 0;
    }
    .timeline-section .timeline__block .block__items .item-right {
        padding: 0;
    }
    .has-border-top {
        border: none;
        padding: 0;
    }
    .timeline-section .timeline__block .block__items .block__text {
        padding: 3.5rem 2.5rem;
        background: rgba(94, 154, 142, 0.05);
    }
    .timeline-section .timeline__title .title__text {
        font-size: 3.5rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__title {
        font-size: 2rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__content {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.9rem;
    }
}

@media (max-width: 767px) {
    .timeline-section .timeline__title .title__text {
        font-size: 3rem;
        padding: 1rem 0.5rem 0.5rem;
    }
    .timeline-section .timeline__block .block__items .block__text .text__title {
        font-size: 1.8rem;
    }
}


/* ============ 7.  OUR LOVE ============= */

.our-love-section {}


/* ============ 8.  EVENTS ============= */

.gallery-section .gallery__list .gallery-active {
    color: #5e9a8e;
}

.gallery-section .gallery {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.gallery-section .gallery::after {
    content: "";
    display: block;
    clear: both;
}

.gallery-section .gallery .gallery__img {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% / 3);
    overflow: hidden;
}

.gallery-section .gallery .gallery__img img {
    max-width: 100%;
    display: block;
}


/* ============ 11. PARTY ============= */

.party-section {
    position: relative;
    padding: 12rem 0;
    background-image: url("../images/common/rsvp-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.party-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.party-section .party__text {
    text-align: center;
    position: relative;
}

.party-section .party__text .party__text--title {
    display: inline-block;
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 5.01rem;
    color: white;
    font-family: "Great Vibes", cursive;
    ;
    padding: 10px 25px 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}


/* ============ 12. GETTING THERE ============= */

.getting-there-section {
    background-color: #5e9a8e;
    padding: 8rem 0;
}

.getting-there-section .getting-title {
    text-align: center;
    padding-bottom: 4rem;
}

.getting-there-section span i::before {
    font-size: 8rem;
    color: white;
    opacity: 0.4;
    display: block;
}

.getting-there-section h2 {
    font-family: "Great Vibes", cursive;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
    font-size: 4rem;
    padding: 10px 25px;
    font-weight: 400;
}

.getting-there-section .content {
    color: white;
}

.getting-there-section .right {
    text-align: right;
    padding-right: 7rem;
    border-right: 1px solid #548a7f;
}

.getting-there-section .left {
    padding-left: 4rem;
    text-align: left;
}

.getting-there-section .content h3 {
    font-size: 3rem;
}

.getting-there-section .content p {
    font-size: 2.2rem;
    line-height: 35px;
}


/* ============ 13. REGISTRATION ============= */

.registration-section {
    padding: 4rem 0;
}

.party-section .party__des {
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    line-height: 3.2rem;
    font-family: Dosis, sans-serif;
    margin-bottom: 2rem;
}

.party-section form {}

.party-section .party__input {
    width: 100%;
    background: #e6eceb;
    font-size: 1.4rem;
    border: 0;
    color: #2a2a2a;
    padding: 1.5rem 1.5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2rem;
    outline: none;
}

.party-section .party__select {
    width: 100%;
    background: #e6eceb;
    font-size: 1.4rem;
    border: 0;
    color: #2a2a2a;
    padding: 1.5rem 1.5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2rem;
    outline: none;
}

.party-section .party__textbox {
    width: 100%;
    height: 15rem;
    background: #e6eceb;
    font-size: 16px;
    color: #2a2a2a;
    padding: 1.5rem 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.party-section .party__btn {
    display: flex;
    justify-content: center;
}

.party-section .btn {
    margin-top: 2rem;
    background-color: #5e9a8e;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    outline: 0;
    transition: 300ms;
    cursor: pointer;
}

.party-section .btn:hover {
    background-color: #4b7a71;
}


/* ============ 12. GETTING THERE ============= */

.getting-there-section {}


/* ============ 13. REGISTRATION ============= */

.registration-section {
    padding: 4rem 0;
}

.registration-section .top_registration-section {
    text-align: center;
}

.registration-section .top_registration-section .icon_registration-section {}

.registration-section .top_registration-section .icon_registration-section i {
    color: #5e9a8e;
    font-size: 6rem;
    border-bottom: 2px solid gainsboro;
}

.registration-section .top_registration-section .line_registration-section {
    height: 5rem;
    width: 2px;
    background: rgba(94, 154, 142, 0.2);
    margin: 0 auto;
}

.registration-section .top_registration-section a {
    font-size: 4rem;
    border-top: 2px solid #5e9a8e;
    background: rgba(94, 154, 142, 0.2);
    padding: 1rem 2rem;
    display: inline-block;
    color: gray;
    border-bottom: 2px solid #5e9a8e;
}

.registration-section .title_registration-section p {
    text-align: center;
    font-size: 2.1rem;
    padding: 4rem 0;
}

.slider_logo {}

.slider_logo .block_slider__logo {
    padding: 0 4rem;
    border: 1px solid gray;
}

.btn_end__registration-section {
    margin: 8rem 0;
    text-align: center;
    cursor: pointer;
}

.btn_end__registration-section a i {}


/* ------------ REPONSIVE ---------------- */

@media (max-width: 991px) {
    .registration-section .title_registration-section p {
        font-size: 2rem;
    }
}


/* ============ 14. FOOTER ============= */

.footer {
    background-image: url(../images/common/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer .footer_text {
    text-align: center;
    color: white;
}

.footer .footer_text h2 {
    font-family: "Great Vibes", cursive;
    font-size: 7rem;
    font-weight: 300;
}

.footer .footer_text span {
    font-size: 2rem;
    padding: 1rem 0;
}

.footer .overlay_footer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .footer {
        height: 35vh;
    }
    .footer .footer_text h2 {
        font-size: 4rem;
    }
    .footer .footer_text span {
        font-size: 1.5rem;
        padding-top: 1rem;
    }
}


/* ============ 15. PRE LOADER ============= */

.preloader {}